@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f6;
}

:root {
  --primary-color: #2874f0;
}

.container {
  padding: 0 8px;
}


/* header */
header {
  width: 100%;
  background-color: var(--primary-color);
  height: 56px;
  /* position: relative; */
  min-width: 100px;
  position: fixed;
  box-shadow: 0 0 5px grey;
}
.nav-position{
  height: 65px;
}


header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1248px;
  margin: 0 auto;
  overflow-x: auto;
  position: relative;
  
}

header .nav-container .logo {
  display: flex;
  min-width: 137px;
  justify-content: flex-end;
  flex-direction: column;
}
header .nav-container .logo p{
  color :white;
  font-style: italic;
  font-size:small;
}
header .nav-container .logo span{
  color:yellow;
}

header .nav-container .logo img {
  width: 75px;
}
header .nav-container .logo button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


header .search {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 12px;
  min-width: 350px;
}

header .search .search-container {
  width: 540px;
  min-width: 300px;
  height: 36px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
  display: flex;
}

header .search .search-container input {
  width: calc(100% - 32px);
  padding: 16px;
  outline: none;
  border: none;
}

header .search .search-container button {
  width: 36px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: powderblue;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

header .login {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative;
}

header .login button {
  width: 122px;
  min-width: 90px;
  padding: 5px 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  border: none;
  background: white;
  height: 36px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.login:hover .dropdown-content {display: block;}

/* .login:hover #dropbtn {background-color: #3e8e41;} */

header .become-seller {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

header .more {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

header .more svg {
  margin-left: 8px;
  rotate: -90deg;
}

header .cart {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: white;
}

header .cart svg {
  margin-right: 8px;
}

.nav-container a {
  color: #fff;
  text-decoration: none;

}

@media screen and (max-width: 768px) {
  header .nav-container {
    flex-direction: row;
  }
}

/* section 1 */
.section-1 {
  width: 100%;
  height: 112px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-1-container {
  margin: 0 auto;
  height: 100%;
  width: (100% - 230px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  padding: 0 65px;
}

.section-1-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
}

@media screen and (max-width: 768px) {
  .section-1-container {
    flex-direction: row;
  }

  .section-1 {
    height: 130px;
  }
}

@media screen and (max-width: 480px) {
  .section-1-container {
    flex-direction: row;
  }

  .section-1-item {
    flex-direction: row-reverse;
  }

  .section-1-item img {
    flex-direction: row-reverse;

  }

}

.section-1-item img {
  width: 64px;
  height: 64px;
}

.section-1-container a {
  color: black;
  text-decoration: none;
}

/*--------------------------------------------*/
.section-2 container {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.section-2-container {
  margin-top: 16px;
  height: 300px;
}

.section-2-item img {
  width: 100%;
  aspect-ratio: auto 100% / 290;
  height: 290px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  align-items: center;
  overflow-x: auto;
}

/*section 3*/

.section-3-container {
  height: 100%;
  margin-top: 8px;
  height: 362px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-3-offer {
  width: 400px;
  height: 100%;
  background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90&quot');
  background-position: bottom;
  background-repeat: no-repeat;
}

.section-3-offers-viewall {
  margin-top: 80px;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.section-3-offers-viewall button {
  margin-top: 24px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.section-3-list {
  height: 100%;
  width: (100% - 230px);
  display: flex;
  overflow-x: auto;
}

.section-3-item {
  width: 232px;
  height: 100%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3-item img {
  max-width: 200px;
  max-height: 200px;
}

.section-3-item-head {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}

.section-3-item-price {
  margin-top: 12px;
  font-size: 16px;
  color: #388e3c;
}

.section-3-item-brand {
  opacity: 0.6;
  margin-top: 12px;
  font-weight: 300;
  font-size: 12px;
}

/*section 4*/
.section-4-offer {
  width: 400px;
  height: 100%;
  background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/898b527fdf29b17a.jpg?q=90&quo');
  background-position: bottom;
  background-repeat: no-repeat;
}

/*section 5 */
.section-5-offer {
  width: 400px;
  height: 100%;
  background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/31d46a8fd93eeedd.jpg?q=90&quot');
  background-position: bottom;
  background-repeat: no-repeat;
 
}

/*Footer*/
body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flipkart-footer {
  background-color: #212121;
  color: #fff;
  padding: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: auto;

}

.footer-logo img {
  max-width: 150px;
}

.footer-links ul {
  padding: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  border-top: 1px solid #555;
  align-items: center;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }
}


/* signup page styles */

.container-center{
  margin :20px auto;
  border-radius: 1px solid grey;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width : 855px;
  height: 600px;
  display: flex;
}

.left-container{
  color: white;
  width: 40%;
  align-content: center;
  padding: 40px 33px;
  background: url('./images/login-img.png') no-repeat;
  background-position: center 85%;
  background-color: var(--primary-color);
  font-size: 15px;
}
.left-container h2{
  margin: 20px 0px;
  font-size: 25px;
}
.left-container h6{
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 500;
  color : #dbdbdb;

}


.right-container{
  display: flex;
  color:grey;
  width: 60%;
  background-color: white;
  height: 528px;
  padding:55px 40px 16px ;
  flex-direction: column;
}
.right-container form{
  flex: 1; 
  justify-content: center;
  align-items: center;
}
.right-container input{
  width: 100%;
  color: gray;
  padding: 8px 10px 10px 0;
  border : none;
  outline: none;
  font-size: 18px;
  
}

.right-container .tc-text{
  margin: 20px auto;
  font-size: 12px;
}
.tc-text a{
  text-decoration: none;
  color : var(--primary-color);
  font-weight: 100;
  font-size: 12px;
}

.right-container .new-page a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 15px;
  color : var(--primary-color);

}
#contact {
  border: none;
  border-bottom: 1px solid grey; 
  width: 100%; 
}

#signup-button{
  background-color: orangered;
  border-style: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  color : #fff;
  width: 100%;
  height : 48px;
  font-size: 18px;
  border-radius: 2px;
}

/* card page styles */
.c-footer{
  margin: 30px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-footer .c-footer-right a{
  text-decoration: none;
  color : black;
  opacity: 0.9;
}

.c-footer .c-footer-left a {
  text-decoration: none;
  color : var(--primary-color);
}